#home {
  background-image: url("../src/curve-01.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  margin-top: 50px;
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 0 50px;
  .main {
    width: 100%;
    padding-left: 40px;
    padding-bottom: 15rem;
    text-align: center;
  }
  .left {
    align-self: center;
    padding-bottom: 30px;
    h1 {
      font-size: 47px;
      font-weight: 900;
      color: #1c740e;
    }
    p {
      font-size: 18px;
      padding: 20px 0;
    }
    button {
      padding: 10px 20px;

      border-radius: 10px;
      font-weight: 700;
      font-size: 13px;
      text-transform: uppercase;
      background-color: #1c740e;
      color: white;
      border: 1.5px solid #fff;
    }
    button:hover {
      color: #1c740e;
      background-color: #fff;
      border: 1.5px solid #1c740e;
    }
  }
}

#about {
  background-color: #edffef;
  padding: 0 40px 40px 40px;
  p {
    text-align: center;
    font-size: 17px;
    font-weight: 500;
    padding: 0 20px;
  }
  .sub {
    text-align: center;
    font-size: 22px;
    font-family: Playball;
    padding-bottom: 20px;
  }

  h1 {
    color: #486284;
    text-align: center;
    font-size: 50px;
    font-weight: 800;
    padding-bottom: 20px;
  }
  .abt-ava {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    div {
      text-align: center;
      padding-top: 20px;
    }
    img {
      width: 23rem;
      border-radius: 20px;
      margin-bottom: 20px;
    }
    h3 {
      font-weight: 700;
    }
  }
}

.general {
  padding-top: 40px;
  p {
    padding: 0 50px;
    font-size: 21px;
    margin: auto;
    color: #606060;
  }
  .row1 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-self: center;
    .svg-2 {
      height: 244px;
      background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 462 244" fill="none" ><path d="M0 0H368.104C387.788 0 405.972 10.5196 415.784 27.5839L454.886 95.586C463.642 110.814 463.765 129.521 455.209 144.862L415.656 215.788C405.943 233.205 387.563 244 367.621 244H0V0Z" fill="%231C740E" /></svg>');
      background-repeat: no-repeat;
    }
    h2 {
      font-size: 50px;
      padding-top: 40px;
      padding-left: 25px;
      text-align: left;
      align-self: flex-end;
      color: white;
      font-weight: 700;
      line-height: 80px;
    }
  }
  .row2 {
    padding-top: 40px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    h2 {
      font-size: 60px;
      padding-top: 80px;
      text-align: center;
      align-self: flex-end;
      color: white;
      font-weight: 700;
    }
    .svg-2 {
      height: 244px;
      background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="529" height="244" viewBox="0 0 529 244" fill="none" ><path d="M529 244L97.157 244C80.3524 244 64.6717 235.558 55.4189 221.531L8.88422 150.981C-1.9919 134.492 -2.14116 113.146 8.50331 96.5062L55.4906 23.0558C64.6801 8.69097 80.5569 6.57223e-06 97.6097 8.06302e-06L529 4.57764e-05L529 244Z" fill="%23486284" /></svg>');
      background-repeat: no-repeat;
    }
  }
}

.rtn {
  margin-top: 40px;
  padding-top: 40px;
  background: #edffef;
  h1 {
    text-align: center;
    font-size: 50px;
    color: #1c740e;
    font-weight: bolder;
    padding-bottom: 20px;
  }
  .sub {
    background-color: #486284;
    padding: 15px 0;
    text-align: center;
    color: #fff;
    font-family: Playball;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 30px;
  }
  .s2 {
    margin-bottom: 0;
  }
  .rtn-container {
    display: grid;
    grid-template-columns: 35% 65%;

    img {
      width: 400px;
      height: 400px;
      margin: 30px;
      border-radius: 20px;
      margin: auto;
    }
  }
  .rtn-cnt {
    align-items: center;
    align-self: center;
    p {
      font-size: 20px;
      margin: 30px;
      padding: 30px;
      border-radius: 20px;
      background-color: #ffffff;
    }
  }
  .srcc {
    display: grid;
    grid-template-columns: 1fr 1fr;
    p {
      padding: 130px 30px;
      align-self: center;
      font-size: 20px;
      font-weight: 500;
    }
    img {
      float: right;
      padding-bottom: 30px;
    }

    .source {
      display: block;
      position: relative;
      z-index: 0;
      img {
        padding: 0;
        width: 220px;
        height: 220px;
        border-radius: 50%;
      }
      .src1 {
        position: absolute;
        right: 90px;
        top: 50px;
        background-color: #1c740e;
        border-radius: 50%;
        width: 220px;
        height: 220px;
        display: flex;
        h2 {
          font-weight: 700;
          font-size: 4rem;
          color: #fff;
          text-align: center;
          align-self: center;
        }
      }
      .src2 {
        position: absolute;
        right: 350px;
        top: 15px;
      }
      .src3 {
        position: absolute;
        right: 270px;
        top: 260px;
      }
      .src4 {
        position: absolute;
        right: 25px;
        top: 320px;
      }
    }
  }
  .tacdong {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .src-col {
      padding: 0 40px;
      text-align: center;
      h2 {
        padding: 10px;
        margin: 40px 80px;
        border-radius: 20px;
        background-color: #1c740e;
        color: #fff;
        font-size: 25px;
      }
      .secd {
        background-color: #fff;
        color: #1c740e;
      }
      img {
        width: 400px;
        margin-bottom: 40px;
        border-radius: 20px;
      }
      p {
        font-size: 18px;
        padding: 0 40px 40px 40px;
        line-height: 1.7;
      }
      .seccc {
        color: #fff;
        
      }
    }
    .src-col:last-child {
      background-color: #1c740e;
    }
  }
}

#fr {
  display: flex;
  justify-content: center;
  padding: 40px 0;
  img {
    width: 90%;
  }
}

#hue {
  padding-top: 40px;
  text-align: center;
  background-color: #edffef;
  h1 {
    font-size: 47px;
    font-weight: 700;
    color: #1c740e;
  }
  p {
    text-align: center;
    font-size: 25px;
    font-family: Playball;
  }
  .hue-cnt {
    display: grid;
    grid-template-columns: 0.8fr 1fr;
    img {
      width: 500px;
      border-radius: 20px;
      margin: auto;
    }
    p {
      font-family: "Plus Jakarta Sans", sans-serif;
      font-size: 20px;
      text-align: justify;
      padding: 40px 60px 40px 0;
    }
  }
  .hue2 {
    padding-top: 20px;
    width: 100%;
  }
}
.action {
  h1 {
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 40px;
    font-weight: 900;
    color: #1c740e;
  }
  .galary {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    padding-bottom: 40px;
    h2 {
      background-color: #486284;
      margin: 0 20px;
      padding: 10px;
      border-radius: 0 20px;
      color: #fff;
      font-weight: 800;
      text-transform: uppercase;
      text-align: center;
    }
    .gl-left {
      display: flex;
      flex-wrap: wrap;
      padding: 0 16px;

      .gl-column {
        flex: 30%;
        padding: 0 4px;
        img {
          margin-top: 8px;
          vertical-align: middle;
          width: 100%;
        }
      }
    }
    .gl-right {
      padding: 20px;
      padding-top: 8px;
      iframe {
        padding-bottom: 4px;
      }
    }
  }
}
footer {
  background-color: #1c740e;
  padding: 40px 40px 20px 40px;
  color: #fff;
  h2 {
    font-weight: 700;
    font-size: 18px;
  }

  .cnt1 {
    display: grid;
    grid-template-columns: 1.3fr 1.35fr 0.8fr;
    font-size: 15px;
    p {
      padding-top: 10px;
    }
    li {
      list-style-type: none;
      a {
        text-decoration: none;
        color: #fff;
      }
      a:hover {
        text-decoration: underline;
      }
      padding-bottom: 5px;
      font-size: 14px;
    }
    img {
      width: 320px;
    }
  }

  .cnt2 {
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #ffffffb7;
    font-size: 15px;
  }
}
